.spotlight
    background: url(../images/banner.jpg) no-repeat top center
    height: 400px

    .container 
        position: relative
        
        div 

            position: absolute
            left: 0
            top: 127px
            width: 470px
        

        h2 
            display: none
        

        p 
            background: rgba(235,108,76,0.8)
            color: #FFF
            font-size: 42px
            line-height: 70px
            margin: 0
            padding: 10px 20px
            text-transform: uppercase
        
@media only screen and (max-width: 500px) 

    .spotlight
        background: url(../images/banner.jpg) no-repeat top center

        .container
            position: relative

            div

                position: absolute
                left: 0
                
                width: 100%

            h2 
                display: none
            

            p 
                background: rgba(235,108,76,0.8)
                color: #FFF
                font-size: 42px
                line-height: 70px
                margin: 0
                padding: 10px 20px
                text-transform: uppercase

