footer:after 
  content: ""
  display: table
  clear:  both  

footer
  background: #292E39
  padding: 40px 0

  h2 
    display: none

  p 
    color: #B6B6B6
    font-size: 14px
    margin: 0
    padding: 0  

  ul
    margin: 0 0 10px 0
    padding:  0  

    li
      border-right: 1px solid #B6B6B6
      display: inline
      list-style-type: none
      margin: 0
      padding:  0 10px
      text-align: center    

      a
        color:  $orange-color
        font-size: 14px
        text-decoration:  none      

    li:last-child
      border-right:  none

  .icons
    float: right

    a
      color: #999
      font-family: 'icons'
      font-size:  24px
      margin:  0 10px 0 0  

    a:hover
      color: $orange-color

    .icon-linkedin:before 
      content:  "\eac9"
    

    .icon-whatsapp:before 
      content:  "\ea93"
    

    .icon-youtube:before 
      content:  "\ea9d"
    
@media only screen and (max-width: 500px) 

  footer    

    height: 50px

    .icons
      float: left      
      margin: 0    
      position: absolute
      padding-top: -10px
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)

    .container

      div
        float: left
    
      ul
        margin: 0    
        position: absolute        
        left: 50%
        margin-right: -50%
        transform: translate(-50%, 125%)

      p
        margin: 0    
        position: absolute        
        left: 50%        
        margin-right: -50%
        transform: translate(-50%, 300%)